/* joinfree-home */

.joinfree-text{
  
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-90)/var(--unnamed-line-spacing-106) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-121212);
    text-align: left;
    font: normal normal 600 4vw/5vw Raleway;
    letter-spacing: 0px;
    color: #121212;
    margin: 0 55 0 15%;
  }
  

  .joinfree-text11{
  
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-90)/var(--unnamed-line-spacing-106) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-121212);
    text-align: left;
    font: normal normal 600 10vw/12vw Raleway;
    letter-spacing: 0px;
    color: #121212;
    margin: 0 55 0 15%;
  }


  .joinfree-best{
  
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-90)/var(--unnamed-line-spacing-106) var(--unnamed-font-family-viner-hand-itc);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ff9100);
  text-align: left;
  font: normal normal normal 4vw/5vw Viner Hand ITC;
  letter-spacing: 0px;
  color: #FF9100;
  }

  .joinfree-best11{
  
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-90)/var(--unnamed-line-spacing-106) var(--unnamed-font-family-viner-hand-itc);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ff9100);
  text-align: left;
  font: normal normal normal 10vw/12vw Viner Hand ITC;
  letter-spacing: 0px;
  color: #FF9100;
  }
  
  .joinfree-button{
  
      background: var(--unnamed-color-ff9100) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-ff9100);
  background: #FF9100 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 12px #FF910073;
  border: 1px solid #FF9100;
  border-radius: 110px;
  opacity: 1;
  width: 50%;
  height: 20%;
  margin: 5% 0 0 0%;
  
  
  
    
  }
  
  .joinfree-text2{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 3vw/5vw Futura Md BT;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal 2vw/4vw Futura Md BT;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  /* font-size: xx-large; */
  
  }

  .joinfree-text212{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 3vw/5vw Futura Md BT;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 6vw/8vw Futura Md BT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* font-size: xx-large; */
    
    }
  
  .joinfree-img{
    /* background-image: transparent url('../img/1.png') 0% 0% no-repeat padding-box; */
    /* background-image: url('https://res.cloudinary.com/dglwgfgfi/image/upload/v1611918488/padhakool/static%20img/1_geytsl.png'); */
    opacity: 1;
    width: 75%;
    height: auto;
   
  }
  
  .joinfree-part1{
    margin: 10% 0 0 0;
  }
  
  @media only screen and (max-width: 400px) {
    
    .aabc{
        display: none;
    }
      
 }
 
 @media only screen and (min-width: 400px) {
     
     .aabc2{
         display: none;
     }
       
  }